h1,h2,h3,h4,h5,h6 {
  word-wrap: break-word
}

h1 {
  font-size: 128px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

/* h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 300;
}

h6 {
  font-size: 18px;
  font-weight: 300;
} */