@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-light: #FAF4EA;
  --color-primary-dark: #31261a;
  --color-brand-normal: #819B57;
  --color-brand-light: #CFCFBC;
  --color-brand-dark: #465929;
  --color-privacy: #A18268;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);

  font-family: 'poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  font-style: normal;
}

img {
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

/*  Sections  */

.section {
  padding: 48px 0;
}

.section:last-child {
  padding-bottom: 95px;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3125;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/*  HEADER  */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.header-nav__item {
  font-size: 18px;
  font-weight: 400;
}

.header-nav__link {
  /* color: var(--color-primary-light); */
  text-decoration: none;
}

.header-nav__link:hover {
  color: var(--color-brand-normal);
  text-decoration: underline;
}

.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px var(--color-brand-normal) solid; 

  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  font-size: 18px;
  font-weight: 600;
}

.button:hover{
  color: var(--color-brand-dark);
  background-color: transparent;
}

/*  Hero  */

.section-hero {
  padding: 272px 0;
  background-image: url('/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero__title {
  /* color: var(--color-primary-light); */
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}

.hero__title .accent {
  color: var(--color-brand-normal);
}

/*  Advantages  */

.section-advantages {
  padding: 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 40px;

  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/*  Traditions  */

.section-traditions {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-content{
  max-width: 600px;
}

.traditions-text:not(:last-child) {
  margin-bottom: 42px;
}

.traditions-text .brand {
  font-weight: 600;
  color: var(--color-brand-normal);
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/*  Chefs  */

.chefs-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chef-item {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.chefs-title, .formats-title {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 532px;
  text-align: center;
}

.chefs-title::before, .chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.img-wrap {
  width: 241px;
  height: 390px;
  overflow: hidden;
  border: 2px blue solid;
  
}

.chef-img {
  /* border-radius: 4px 4px 4px 200px; */
  /* background: #D9D9D9; */
  /* background-repeat: no-repeat; */
  background-size: contain;
  border: 2px red solid;
}

.chef-name {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-descr {
  max-width: 334px;
}

.chef-descr p:not(:last-child) {
  margin-bottom: 24px;
}

/*  Formats  */

.formats-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}

.format-item {
  flex-basis: calc((100% - 40px)/ 3);
  height: 444px;
  border: 1px solid black;
  border-radius: 16px;
  padding-top: 248px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}

/*  Form  */

.form-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.form {
  max-width: 605px;
  letter-spacing: -1px;
}

.form-title {
  margin-bottom: 16px;
}

.form-message {
  margin-bottom: 42px;
  color: var(--color-brand-dark);
}

.form .form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  margin-bottom: 16px;
}

.privacy {
  text-align: center;
}

iframe {
  border: 0;
}

/*  Footer  */

.footer {
  background: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  gap: 166px;
}

.footer-nav__link {
  text-decoration: none;
  color: var(--color-primary-light);
}

.footer-nav__link:hover {
  color: var(--color-brand-normal)
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.socials {
  display: flex;
  gap: 22px;
}

.facebook-icon, .instagram-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.address-list {
  max-width: 211px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:not(:last-child) {
  margin-bottom: 16px;
}

.address-copyright {
  font-size: 14px;
  text-align: left;
  color: var(--color-privacy);
}
